@import "components/vars";
@import "components/mixins";
@import "components/print";

@include main;

body {
  position: relative;
  overflow-x: hidden;

  &:before {
    position: absolute;
    content: "";
    background: url(../svg/bg-tablet-pattern.svg) right no-repeat;
    background-size: contain;
    width: 100%;
    height: 60vw;
    right: -14%;
    top: -7%;
    z-index: -5;

    @include media-max-width(850) {
      height: 100vw;
      right: -15%;
      top: -5%;
    }
  }

  &:after {
    position: absolute;
    content: "";
    background: url(../svg/bg-tablet-pattern.svg) right no-repeat;
    background-size: contain;
    width: 100%;
    height: 60vw;
    left: -76%;
    bottom: 9%;
    z-index: -5;

    @include media-max-width(850) {
      height: 100vw;
      left: 65%;
      top: 21%;
    }
  }
}

header {
  @include wrapper(1170, 25);
  padding: 70px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;

  @include media-max-width(850) {
    min-height: 100px;
    padding: 0 25px;
    margin-bottom: 0;
  }

  .main-nav {
    @include media-max-width(850) {
      width: calc(100% - 50px);
      position: absolute;
      left: 25px;
      top: 0;
      transform: translateY(100px);

      &:before {
        content: "";
        min-height: 0;
        min-width: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.5031021632505267) 100%);
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: scale(0);
        transition: 1s all;
        transform-origin: center;
      }
    }
    &__list {
      display: flex;

      @include media-max-width(850) {
        transform: scale(0);
        transition: 1s all;
        flex-direction: column;
        transform-origin: top;
        text-align: center;
        background: #ffffff;
        height: 100%;
        border-radius: 5px;
        padding: 20px;
        position: relative;
      }
    }

    &__item {
      margin-right: 35px;
      @include media-max-width(850) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        font-weight: 700;
      }

      a {
        color: $tertiary_clr;

        &:hover {
          color: $darkGrayishBlue;
        }
      }
    }

    &__btn {
      display: none;
      @include media-max-width(850) {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .btn {
    @include media-max-width(850) {
      display: none;
    }
  }

  .open {
    transform: scale(1);
    transition: all 1s;
  }

  .hamburger {
    transform: scale(1);
    transition: all 1s;
  }

  .close {
    transform: scale(0) rotate(180deg) translateX(100%);
    position: absolute;
    transform-origin: top;
  }

  .overlay {
    @include media-max-width(850) {
      &:before {
        content: "";
        min-height: calc(100vh - 100px);
        min-width: 100vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.5031021632505267) 100%);
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: -25px;
        z-index: -10;
        transform: scale(1);
      }
    }
  }
}

main {
  .banner {
    @include wrapper(1170, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

    @include media-max-width(850) {
      flex-direction: column-reverse;
    }

    .left {
      min-height: 378px;
      @include media-max-width(850) {
        text-align: center;
      }

      h1 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 50px;
      }

      p {
        margin-bottom: 50px;
        @include media-min-width(850) {
          max-width: 350px;
        }
      }
    }

    &__img {
      @include media-max-width(850) {
        max-width: 100%;
      }
    }
  }

  .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    @include media-min-width(850) {
      @include wrapper(1170, 25);
    }
    @include media-max-width(850) {
      flex-direction: column;
    }

    .left {
      width: 48%;
      align-self: baseline;
      @include media-max-width(850) {
        align-self: center;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        padding: 0 35px;
      }
      h2 {
        margin-bottom: 35px;
      }

      p {
        max-width: 335px;
        @include media-max-width(850) {
          max-width: 100%;
          line-height: 24px;
        }
      }
    }

    &__box-container {
      width: 48%;
      @include media-max-width(850) {
        width: 100%;
        padding-left: 16px;
      }
    }

    &__box {
      counter-increment: count;
      display: flex;

      &:before {
        content: counter(count);
        @include btn;
        box-shadow: none;
        font-size: 16px;
        padding: 12px 28px;
        height: 100%;
        margin-right: 28px;

        @include media-max-width(850) {
          display: none;
        }
      }

      &:nth-child(-n + 9):before {
        content: "0" counter(count);
      }
    }

    &__info {
      @include wrapper(1440, 0);
      h3 {
        font-size: 14px;
        padding: 12px 0;
        margin-bottom: 15px;
        counter-increment: countmobile;
        color: $tertiary_clr;

        @include media-max-width(850) {
          background-color: $veryPaleRed;
          padding: 0;
          margin-bottom: 20px;
          &:before {
            content: counter(countmobile);
            @include btn;
            box-shadow: none;
            font-size: 16px;
            padding: 12px 24px;
            height: 100%;
            margin-right: 16px;
          }

          &:nth-child(-n + 9):before {
            content: "0" counter(countmobile);
          }
        }
      }

      p {
        margin-bottom: 45px;
        @include media-max-width(850) {
          line-height: 30px;
        }
      }
    }
  }

  .carousel {
    text-align: center;
    padding-bottom: 180px;
    min-width: 100%;
    z-index: 5;

    h2 {
      margin-bottom: 60px;
    }

    .btn {
      margin-top: 80px;
    }

    &__container {
      padding-top: 40px;
      min-width: 100%;
    }

    .swiper-slide {
      background-color: $veryLightGray;
      padding: 40px;
      position: relative;
      cursor: grab;
      width: 31%;
      @include media-max-width(850) {
        width: 100%;
      }

      .carousel__img {
        max-width: 75px;
        top: 0;
        transform: translate(-50%, -50%);
        position: absolute;
      }

      .carousel__content {
        @include media-max-width(850) {
          padding: 0 40px;
        }

        .carousel__title {
          font: 24px;
          margin-bottom: 36px;
          margin-top: 20px;
        }
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: none;
      transform: translateY(10%);
      height: 100%;

      @include media-min-width(850) {
        display: none;
      }
    }

    .swiper-pagination-bullet {
      border: 2px solid $primary_clr;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: #ffffff;
      margin: 0 3px;
    }

    .swiper-pagination-bullet-active {
      background: rgba($color: $primary_clr, $alpha: 1);
    }
  }

  .bottom {
    min-height: 215px;
    background-color: $primary_clr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include media-max-width(850) {
      padding: 90px 35px;
    }

    &__wrapper {
      @include wrapper(1170, 25);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      z-index: 5;

      @include media-max-width(850) {
        flex-direction: column;
        text-align: center;
      }

      h2 {
        max-width: 455px;
        color: #ffffff;
        @include media-max-width(850) {
          margin-bottom: 25px;
        }
      }

      .btn {
        background-color: #ffffff;
        color: $primary_clr;

        &:hover {
          color: rgba($color: $primary_clr, $alpha: 0.5);
        }
      }
    }

    &:before {
      position: absolute;
      content: "";
      background: url(../svg/bg-tablet-pattern.svg) right no-repeat;
      background-size: contain;
      width: 50%;
      height: 40vw;
      right: -25%;
      bottom: 28%;
      opacity: 0.1;

      @include media-max-width(850) {
        height: 100vw;
        right: -15%;
        top: -5%;
      }
    }

    &:after {
      position: absolute;
      content: "";
      background: url(../svg/bg-tablet-pattern.svg) right no-repeat;
      background-size: contain;
      width: 60%;
      height: 40vw;
      left: -11%;
      top: -15%;
      opacity: 0.1;

      @include media-max-width(850) {
        height: 100vw;
        left: 65%;
        top: 21%;
      }
    }
  }
}

footer {
  background-color: $tertiary_clr;
  z-index: 20;

  .footer {
    @include wrapper(1170, 25);
    padding: 60px 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;

    @include media-max-width(850) {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 60px;
    }

    &__contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 140px;

      @include media-max-width(850) {
        grid-column: 1/3;
        flex-direction: column-reverse;
        align-items: center;
      }

      .logo {
        path {
          fill: #ffffff;
        }

        .dots {
          path {
            fill: $primary_clr;
          }
        }
      }
    }

    &__social-icons {
      display: flex;
      margin-top: auto;

      @include media-max-width(850) {
        margin-bottom: 50px;
        width: 100%;
        justify-content: space-between;
      }

      li {
        margin-right: 10px;

        .svg-icon {
          &:hover {
            fill: $primary_clr;
          }
        }
      }
    }

    &__links {
      font-size: 12px;
      align-self: baseline;
      li:not(:last-child) {
        margin-bottom: 20px;
      }

      @include media-max-width(850) {
        padding-left: 30%;
      }

      &.one {
        @include media-max-width(850) {
          grid-column: 1/2;
          grid-row: 3/4;
        }
      }

      &.two {
        @include media-max-width(850) {
          grid-column: 2/3;
          grid-row: 3/4;
        }
      }
    }

    .link {
      color: #ffffff;

      &:hover {
        color: rgba($color: $primary_clr, $alpha: 1);
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media-max-width(850) {
        grid-column: 1/3;
        grid-row: 1/3;
        margin-bottom: 60px;
        text-align: center;
      }

      .email {
        padding: 0 16px;
        border: none;
        border-radius: 50px;
        color: $primary_clr;
        line-height: 45px;
        margin-right: 8px;

        &::placeholder {
          color: $darkGrayishBlue;
        }
      }

      .btn {
        padding: 0 24px;
        line-height: 45px;
      }

      .copyright {
        margin-top: auto;
        @include media-max-width(850) {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
        }
      }
    }
  }

  .attribution {
    color: #ffffff;
    text-align: center;
    padding: 25px;
    a,
    a:visited,
    a:active {
      color: $primary_clr;

      &:hover {
        color: rgba($color: $darkGrayishBlue, $alpha: 0.5);
      }
    }
  }
}
