$main_font: "Be Vietnam", sans-serif;
$secondary_font: "Gilroy", cursive;

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai");

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
  src: url("../fonts/Gilroy-ExtraBold.otf");
}

$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);

$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$veryPaleRed: hsl(13, 100%, 96%);
$veryLightGray: hsl(0, 0%, 98%);

$primary_clr: $brightRed;
$secondary_clr: $darkBlue;
$tertiary_clr: $veryDarkBlue;

$show-image: true;
$home-image: url(../images/home-bg-min.jpg);
$background-opacity: 0.85;

$fw-normal: 400;
$fw-bold: 700;

$min_width: 320px;
$max_width: 3840px;
$min_font: 14px;
$max_font: 24px;
